<!doctype html>
<html>
  <head>
    <title>Privacy & Policy - DigitalEase</title>
    <link rel="stylesheet" href="../../styles/pages/privacy-policy.css" />
    <link rel="stylesheet" href="../../styles/general.css" />
    <link rel="stylesheet" href="../../styles/footer.css" />
    <link rel="stylesheet" href="../../styles/header.css" />
    <link rel="icon" type="image/png" href="../../favicon-16x16.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&family=Geist:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header id="header"></header>
    <main>
      <section class="legal-hero">
        <span class="tag">LEGAL</span>
        <h1>Privacy & Policy</h1>
      </section>
      <section class="legal-content">
        <article class="legal-card">
          <h2>Information We Collect</h2>
          <p>
            Email addresses and authentication information required to provide
            the service.
          </p>
        </article>

        <article class="legal-card">
          <h2>How We Use Information</h2>
          <p>
            Creating & Managing your account and providing and mantaining our
            services.
          </p>
        </article>

        <article class="legal-card">
          <h2>Your Rights</h2>
          <p>You may request access, correction, or deletion of your data.</p>
        </article>

        <article class="legal-card">
          <h2>Data Storage & Security</h2>
          <p>
            Your data is stored securely and we implement appropriate technical
            and organizational measures to protect it against unauthorized
            access.
          </p>
        </article>
      </section>
    </main>

    <div id="footer"></div>

    <script src="../../components/header.js"></script>
    <script src="../../components/footer.js"></script>
  </body>
</html>
