<!doctype html>
<html>
  <head>
    <title>Terms Of Service - DigitalEase</title>
    <link rel="stylesheet" href="../../styles/pages/terms-of-service.css" />
    <link rel="stylesheet" href="../../styles/general.css" />
    <link rel="stylesheet" href="../../styles/footer.css" />
    <link rel="stylesheet" href="../../styles/header.css" />
    <link rel="icon" type="image/png" href="../../favicon-16x16.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Syne:wght@400;600;700;800&family=Geist:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header id="header"></header>
    <main>
      <section class="legal-hero">
        <span class="tag">LEGAL</span>
        <h1>Terms of Service</h1>
      </section>
      <section class="legal-content">
        <article class="legal-card">
          <h2>Acceptance of Terms</h2>
          <p>By using DigitalEase you agree to these terms.</p>
        </article>

        <article class="legal-card">
          <h2>Eligibility</h2>
          <p>
            You must be at least 13 years old to use the platform.<br /><br />If
            you are under 18, you should use the Service only with the
            involvement and consent of a parent or guardian.
          </p>
        </article>

        <article class="legal-card">
          <h2>Acceptable Use</h2>
          <p>Do not misuse the platform or attempt unauthorized access.</p>
        </article>

        <article class="legal-card">
          <h2>Third-Party Tools</h2>
          <p>
            DigitalEase may use external tools such as Supabase for
            authentication purposes
          </p>
        </article>

        <article class="legal-card">
          <h2>Contact Us</h2>
          <p>
            Contact us anytime if you have an inquiry or need to report a bug.
          </p>
        </article>
      </section>
    </main>

    <div id="footer"></div>

    <script src="../../components/header.js"></script>
    <script src="../../components/footer.js"></script>
  </body>
</html>
