main {
  padding-top: clamp(3.5rem, 10vw + 1rem, 7rem);
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  gap: 4rem;
}

.policy .label {
  font-family: Syne;
  font-weight: 800;
  margin: 0;
  color: white;
  text-align: center;
}

.policy {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.policy .title {
  font-family: Syne;
  text-transform: uppercase;
  background: linear-gradient(to right, white, rgb(196, 241, 32), white);
  background-size: 200% 100%;
  animation: limeShift 2s ease-in-out infinite alternate;
  font-weight: 800;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  white-space: nowrap;
  font-size: clamp(40px, 17vw, 460px);
  width: max-content;
  position: relative;
  left: 10%;
  transform: translateX(-9%);
}

.divider-div {
  display: flex;
  justify-content: center;
}

.policy-divider {
  width: 70%;
  margin-block: 25px;
  margin-bottom: 40px;
}

.policy p {
  color: white;
  font-family: Elms Sans;
  line-height: 30px;
  font-size: clamp(12px, 4vw, 18px);
  padding-inline: 20px;
}

.policy p b {
  color: rgb(196, 241, 32);
  font-size: 20px;
}

.policy p strong {
  color: rgb(196, 241, 32);
  font-family: Elms Sans;
}

a {
  color: white;
}

@keyframes limeShift {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 0%;
  }
}
