main {
  padding: 100px 48px 48px 118px;
}

#vaultContainer {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.vault-card {
  background-color: rgba(255, 255, 255, 0.04);
  padding-inline: 30px;
  width: 60%;
  display: flex;
  gap: 2rem;
  padding-block: 25px;
  border-radius: 10px;
}

.vault-password {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.vault-date {
  color: rgb(160, 160, 160);
  font-family: Geist;
}

.heading-wrap {
  display: flex;
  position: relative;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 0.4rem;
}

.vault-header {
  font-family: Syne;
  justify-self: center;
  font-size: 30px;
  color: white;
}

.vault-subheader {
  color: lightgray;
  font-family: Geist;
}
