main {
  padding: 100px 48px 48px 118px;
}

#vaultContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.vault-card {
  background-color: rgba(255, 255, 255, 0.04);
  padding-inline: 40px;
  width: fit-content;
  box-shadow: 0 0 60px rgb(157, 255, 142, 0.1);
  justify-self: center;
  display: flex;
  gap: 2.5rem;
  padding-block: 25px;
  border-radius: 10px;
}

.vault-password {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
}

.vault-date {
  color: rgb(160, 160, 160);
  font-family: Geist;
}

.heading-wrap {
  display: flex;
  position: relative;
  margin-bottom: 1.5rem;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  gap: 0.4rem;
}

.vault-header {
  font-family: Syne;
  justify-self: center;
  font-size: 40px;
  color: white;
}

.vault-subheader {
  color: lightgray;
  font-family: Geist;
  letter-spacing: 0.15em;
}
